* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

main {
  flex: 1 0 auto;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  width: 100%;
}

/**Header*/
.navbar-light .navbar-brand:hover {
  color: #FF3300;
}
.navbar-light .navbar-toggler {
  border: none;
}
.navbar-light .navbar-toggler:focus {
  border: none;
}
.navbar {
  box-shadow: 0 7px 21px rgba(0,0,0,0.1);
}
.bg-light {
  background-color: #fff !important;
}
.navbar-light .navbar-nav .nav-link, .home, .cart {
  color: #000;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #FF3300;
}
.orders, .saved-items {
  color: #000;
  padding: 0.2rem 1rem;
}
.home:hover,
.cart:hover {
  text-decoration: none;
  color: #FF3300;
}
.orders:hover,
.saved-items:hover {
  text-decoration: none;
  color: #FF3300;
  background-color: #FFF3E0;
}
button {
  outline: none;
  border: none;
  border-radius: 5px;
}
.signinBtn {
  background-color: rgba(0,0,0,0.1);
  color: #000;
  border: 1px solid #000;
}
.signinBtn:hover {
  background-color: #000;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-decoration: none;
}
.signupBtn {
  background-color: #FFF3E0;
  color: #000;
  border: 1px solid #FF3300;
}
.signupBtn:hover {
  background-color: #FF3300;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-decoration: none;
}
.dropdown-item:hover {
  background-color: transparent;
}
.dropdown-item:active {
  background-color: transparent;
}
.dropdown-menu {
  border: none;
  box-shadow: 0 7px 21px rgba(0,0,0,0.1);
}

/*Search**/
.search {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}
#search {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.2rem 2rem;
  width: 400px;
  max-width: 100%;
  z-index: 1;
  background: url("./images/icons/search\(1\).svg") no-repeat left 5px center
}
@media only screen and (max-width: 400px) {
  .col-sm-12 {
    padding: 0;
    margin: 0 auto;
  }
  .form {
    flex-direction: column;
    max-width: 80%;
  }
}
.searchBtn {
  background-color: #FF3300;
  color: #fff;
}
.searchBtn:hover {
  box-shadow: 0 7px 21px 0 rgba(0,0,0,0.2);
  background-color: #000;
}

/**SignUp*/
.signup {
  margin-top: 7rem;
}
.username, .email, .pswd {
  width: 20rem;
  padding: 0.1rem 2rem;
  border: 1px solid #000;
  margin: 0.2rem;
}
.signBtn {
  margin: 0.5rem;
  background-color: #FF3300;
  color: #fff;
  padding: 0.2rem 1.5rem;
}
.signBtn:hover {
  background-color: #000;
  color: #fff;
  box-shadow: 0 7px 21px 0 rgba(0,0,0,0.4);
}
.username {
  background: url("./images/icons/user\ \(2\).svg") no-repeat left 5px center;
}
.email {
  background: url("./images/icons/mail2.svg") no-repeat left 5px center;
}
.pswd {
  background: url("./images/icons/key.svg") no-repeat left 5px center;
}
.errors {
  font-size: 0.8rem;
  padding: 0;
  font-weight: bold;
  color: #FF3300;
}
.signin {
  color: #000;
  padding: 0.2rem 1.5rem;
}
.signin:hover {
  text-decoration: none;
  color: #FF3300;
  background-color: #FFF3E0;
}

/**Cart*/
.cartSection {
  min-height: 100vh;
  margin-top: 5rem;
}
.shopCart {
  stroke: #FF3300;
  width: 10rem;
  height: 10rem;
  margin-top: 3rem;
  padding: 0.5rem;
  stroke-width: 1;
}
.shop {
  color: #fff;
  background-color: #FF3300;
  padding: 0.5rem 2rem;
  margin: 1rem;
}
.shop:hover {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  box-shadow: 0 7px 21px 0 rgba(0,0,0,0.4);
}
.login {
  color: #FF3300;
  text-decoration: underline;
}
.login:hover {
  color: #000;
}